* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #3f4150;
  background-color: #f4f7fa;
}

button {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 15px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #3f4150;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

.title {
  width: 100px;
  margin-bottom: 24px;
}

.title img {
  width: 100%;
  height: auto;
}

.signup-form {
  width: 500px;
  padding: 48px 40px;
  font-size: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px 0 rgba(63, 65, 80, 0.01);
}

.form-check-all {
  margin-bottom: 40px;
}

.form-check-all .checkbox-group {
  align-items: flex-start;
}

.form-check-all .checkbox-group input {
  top: 4px;
  bottom: auto;
}

.form-check-all label {
  text-decoration: underline;
}

.form-group {
  margin-bottom: 24px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.checkbox-group input {
  position: relative;
  bottom: 3px;
  flex-shrink: 0;
  margin-right: 8px;
}

label.required::after {
  margin-left: 4px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #0086ff;
  content: '(필수)';
}

.checkbox-group label {
  font-weight: 500;
  line-height: 24px;
  color: #1b1c32;
}

.form-detail {
  width: 100%;
  height: 80px;
  padding: 12px 16px;
  overflow-y: auto;
  font-size: 14px;
  line-height: 20px;
  color: rgba(63, 65, 80, 0.75);
  border: 1px solid #e0e2e7;
  border-radius: 3px;
}

.next-button {
  display: block;
  width: 100%;
  height: 44px;
  padding: 0 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 44px;
  color: #f8f9fa;
  background-color: #1b1c32;
  border-radius: 6px;
  transition: background-color 200ms ease-in;
}

.next-button:disabled {
  background-color: #e0e2e7;
  cursor: not-allowed;
}
